@model S1G5_SISAPP.Models.Registration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cours.Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.Course_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Student_First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Student_First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term.Term_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term.Term_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
