@model IEnumerable<S1G5_SISAPP.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Instructor_First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor_Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor_Phone_No)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor_Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor_Phone_No)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Instructor_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Instructor_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Instructor_ID })
        </td>
    </tr>
}

</table>
