@model IEnumerable<S1G5_SISAPP.Models.TeachingAssignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.Course_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.Instructor_First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term.Term_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.Course_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.Instructor_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Term.Term_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Instructor_ID, id1 = item.Course_ID, id2 = item.Term_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Instructor_ID, id1 = item.Course_ID, id2 = item.Term_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Instructor_ID, id1 = item.Course_ID, id2 = item.Term_ID })
        </td>
    </tr>
}

</table>
